@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{  
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0; 
}

body{
  background-color: rgb(0, 0, 0);
}

.header {
  display: flex;
  justify-content: center;
}
.headerItems {
  width: 70vw;
  height: 90px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  color: white;
}
.headerLogo img{
  width: 120px;
  
}

.header{
  position: fixed;
  z-index: 1;
  height: 70px;
  width: 100vw;
  height: 90px;
  background-color: rgba(11, 11, 11, 0.9);
  background: rgba(0, 0, 0, 0.8); 
  backdrop-filter: blur(5px); 
  /* box-shadow: 0 90px 999px 40px rgba(0, 0, 0, 1); */
  text-align: center;
}
ul li{
  /* border: 2px solid rgb(164, 159, 159); */
  color: rgb(184, 184, 184);
    display: inline-block;
    cursor: pointer;
    padding: 20px;
    }
.navbtn a{
  position: relative;
  text-decoration: none;
  padding: 0px 2px;
}
.navbtn a::after{
  content: "";
  position: absolute;
  background-color:rgb(202, 152, 28);
  height: 2px;
  width: 0%;
  left: 0;
bottom: 5px;
transition: 0.3s;
}
.navbtn a:hover::after{
  width: 100%;
}

.productBtn::after{
  content: "";
  position: absolute;
  background-color:rgb(125, 114, 114);
  height: 2px;
  width: 100%;
  left: 0;
bottom: 5px;
transition: 0.3s;
}

.navbtn:hover{
  color: rgb(255, 255, 255);
  font-weight: 500;
}


main{
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  gap: 170px;
  flex-wrap: wrap;
  text-decoration: none;
}
main div{
  text-decoration: none;
}

.firstBox{
  background-color: rgba(255, 255, 255, 0.9);
  background-image:
  linear-gradient(
    to right, 
    rgb(0, 0, 0), rgb(169, 146, 95));
  backdrop-filter: blur(5px); 
  text-align: center;
  width: 80vw;
  height: 300px;
  display: flex;

  justify-content: space-evenly;
  align-items: flex-end;
  position: relative;
border-radius: 30px;
  top: 240px;
  text-align: center;
  text-decoration: none;
}
.secBox{
  background-color: rgba(255, 255, 255, 0.9);
  background-image:
  linear-gradient(
    to left, 
    rgb(0, 0, 0), rgb(95, 128, 169));
  backdrop-filter: blur(5px); 
  text-align: center;
  width: 80vw;
  height: 300px;
  display: flex;

  justify-content: space-evenly;
  align-items: flex-end;
  position: relative;
border-radius: 30px;
  top: 240px;
  text-align: center;
  text-decoration: none;
}

.thirdBox{

  background-color: rgba(255, 255, 255, 0.9);
  background-image:
  linear-gradient(
    to right, 
    rgb(0, 0, 0), rgb(170, 123, 86));
  backdrop-filter: blur(5px); 
  text-align: center;
  width: 80vw;
  height: 300px;
  display: flex;

  justify-content: space-evenly;
  align-items: flex-end;
  position: relative;
border-radius: 30px;
  top: 240px;
  text-align: center;
  text-decoration: none;

}

.fourthBox{

  background-color: rgba(255, 255, 255, 0.9);
  background-image:
  linear-gradient(
    to left, 
    rgb(0, 0, 0),  rgb(95, 169, 114));
  backdrop-filter: blur(5px); 
  text-align: center;
  width: 80vw;
  height: 300px;
  display: flex;

  justify-content: space-evenly;
  align-items: flex-end;
  position: relative;
border-radius: 30px;
  top: 240px;
  text-align: center;
  text-decoration: none;

}
h3{
  color: white;
  font-family: "Radio Canada Big", sans-serif;
}
.ExcavatorRental{
  text-decoration: none;
  color: rgb(255, 255, 255);
text-decoration: none;
font-size: 50px;
font-family: "Radio Canada Big", sans-serif;
}
.firstimage{
height: 400px;
/* border: 3px solid ; */
}

.thirdimage{
  /* border: 3px solid; */
  height: 370px;
}
.firstInBox{
  padding: 40px;
  /* border: 2px solid rgb(128, 128, 128); */
  height: 130px;
  border-radius: 30px;
  text-align: left;
}
a{
  text-decoration: none;
}

.separater{
  height: 353px;
  width: 90vh;
  display: flex;

}

.separaterLine{
  height: 2px;
  width: 100%;
  background-color: rgb(52, 52, 52);
}
.footerNav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footernav li:hover{
color: rgb(178, 3, 3);

}
























@media only screen and (max-width: 800px) {
  
body{
  overflow-x: hidden;
  background-color: rgb(240, 248, 255);
}
  .headerItems {
    width: 0vw;

    height: 90px;
    display: flex;
    font-size: small;
    list-style-type: none;
    justify-content: space-between;
    position: relative;
    /* right: 390px; */
    left: 1vw;
    align-items: center;
    z-index: 1;
    color: white;
  }
  .headerLogo img{
    width: 50px;
    
  }
  .header{
    position: fixed;
    z-index: 1;
    height: 90px;
    width: 0px;
    /* height: 111px; */
    background-color: rgba(11, 11, 11, 0.9);
    background: rgba(0, 0, 0, 0.8); 
    backdrop-filter: blur(5px); 
    /* box-shadow: 0 90px 999px 40px rgba(0, 0, 0, 1); */
    text-align: center;
  }
  
  ul li{
    /* border: 2px solid rgb(203, 0, 0); */
      color: rgb(33, 33, 33);
      display: inline-block;
      cursor: pointer;
      padding: 12px;
      
  }
  




  main{
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    gap: 170px;
    flex-wrap: wrap;
    text-decoration: none;
  }
  main div{
    text-decoration: none;
  }
  
  .firstBox{
    background-color: rgba(255, 255, 255, 0.9);
    background-image:
    linear-gradient(
      to right, 
      rgb(240, 248, 255), rgb(252, 201, 91));
    backdrop-filter: blur(5px); 
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
  flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
  border-radius: 30px;
    top: 15vh;
    text-align: center;
    text-decoration: none;
  }


  .secBox{
    background-color: rgba(255, 255, 255, 0.9);
    background-image:
    linear-gradient(
      to left, 
      rgb(240, 248, 255), rgb(125, 177, 241));
    backdrop-filter: blur(5px); 
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  
    justify-content: space-evenly;
    align-items: center;
    position: relative;
  border-radius: 30px;
    top: 10vh;
    text-align: center;
    text-decoration: none;
  }
  
  .thirdBox{
  
    background-color: rgba(255, 255, 255, 0.9);
    background-image:
    linear-gradient(
      to right, 
      rgb(240, 248, 255), rgb(254, 158, 85));
    backdrop-filter: blur(5px); 
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
  flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
  border-radius: 30px;
    top: 10vh;
    text-align: center;
    text-decoration: none;
  
  }
  
  .fourthBox{
  
    background-color: rgba(255, 255, 255, 0.9);
    background-image:
    linear-gradient(
      to left, 
      rgb(240, 248, 255),  rgb(124, 247, 155));
    backdrop-filter: blur(5px); 
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
  flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
  border-radius: 30px;
    top: 10vh;
    text-align: center;
    text-decoration: none;
  
  }


h3{
  color: rgb(0, 0, 0);
  font-weight: 200;
}
  .ExcavatorRental{
    text-decoration: none;
    color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 40px;
  font-family: "Radio Canada Big", sans-serif;

  }
  .firstimage{
  height: 30vh;
  }
  .secimage{
    height: 30vh;
  }
  .thirdimage{
    height: 29vh;
  }

  .footerNav{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: start;
    font-size: smaller;
  }

  .footernav li{
    display: flex;
  }
  }

